/* Write your CSS here */
.bg-container {
  padding: 10px;
}
.timeline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading-container {
  justify-content: center;
}
.heading {
  font-size: 20px;
}
.mainHeading {
  font-size: 35px;
}

@media screen and (max-width: 576px) {
  .heading {
    font-size: 10px;
  }
  .mainHeading {
    font-size: 25px;
  }
  .heading-container {
    text-align: center;
  }
  .timeline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
}
